################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/FP3000_PicoW/__vm
/FP3000_PicoW/.vs/FP3000_PicoW
